body, html{
	margin:0;
	height:100vh;
	overflow:hidden;
}

body{
	position:relative;
	background: url('img/bg.png');
	background-size:cover;
}

@font-face{
	font-family: 'tccm';
	src:url('fonts/TCCM____.TTF') format('truetype');
}

@font-face{
	font-family: 'bebas';
	src:url('fonts/BebasNeue.otf') format('opentype');
}

.wrapper{
	height:100%;
}

.nav{
	height:15vh;
	width:100vw;
}

.logo{
	float:right;
	height:100%;
}

.logo img{
	height:38%;
	padding:2vh 2vh 0 0;
}

.menu{
	height:80%;
	float:left;
	padding:1vh;
}

.menu img{
	height:60%;
}

.nav-opt{
	display:none;
}


.home-body{
	position:absolute;
	top:15vh;
	left:100vw;
	height:63vh;
	width:100vw;
	transition:left 0.3s linear;
}

.problem-body{
	text-align: center;
}

.problem-heading{
	font-family:'bebas';
	color:#ffffff;
	font-size: 5vh;
}

.company-info{
	position:absolute;
	left:10vw;
	top:7vh;
	height: 50vh;
	width: 80vw;
    background-image: linear-gradient(19deg, rgb(214, 85, 110) 0%, rgb(31, 36, 161) 100%);
    animation: expand 1.5s forwards;
}

.company-logo{
	height: 20vh;
	width: 60vw;
    position: absolute;
    top:45vh;
    left:35vw;
    background: #ffffff;
    animation: expand 1.5s;
}

.company-logo img{
	width:60vw;
}

.title{
	margin:5vh 0 0 2vh;
	font-family: 'bebas';
	font-size:10vh;
	color:#ffffff;
	/*text-align: center;*/
}

.register-button{
	margin:0 0 0 2vh;
	font-family: 'bebas';
	font-size:7vh;
	width:40vw;
	text-align: center;
	border-radius: 2vw;
	color:#867cf4;
	background: #ffffff;
}

.register-button:hover{
	cursor:pointer;
}

.bodies .title{
	margin:0 0 0 15vw;
	font-size: 8vh;
	/*text-align: center;*/
}

/*.contact-body .title{
	margin:5vh 0 0 0;
	font-size: 8vh;
	text-align: center;
}*/

.content{
	margin:2vh 5vh 0 20vw;
	font-family: 'bebas';
	font-size:5vh;
	color:#ffffff;
	/*text-align: center;*/
}


.bodies{
	position:absolute;
	top:15vh;
	left:100vw;
	height:63vh;
	width:100vw;
	transition:left 0.3s linear;
}

/*.overview-body{
	position:absolute;
	top:15vh;
	left:100vw;
	height:55vh;
	width:100vw;
	transition:left 0.3s linear;
}

.register-body{
	position:absolute;
	top:15vh;
	left:100vw;
	height:55vh;
	width:100vw;
	transition:left 0.3s linear;
}

.contact-body{
	position:absolute;
	top:15vh;
	left:100vw;
	height:55vh;
	width:100vw;
	transition:left 0.3s linear;
}

.company-body{
	position:absolute;
	top:15vh;
	left:0vw;
	height:55vh;
	width:100vw;
	transition:left 0.3s linear;
}*/

.big-arrow{
	display:none;
}

.bot-nav{
	position:absolute;
	top:78vh;
	height:22vh;
	width:100vw;
	background: #ffffff;
	font-size:6.5vh;
	font-family:'bebas';
	color:#715bbc;
	line-height: 22vh;
	text-align: center;
	transition:top 0.3s linear;
}


.hamburger{
	position:absolute;
	top:0;
	left:-110vw;
	height:100vh;
	width:110vw;
	background: #212121;
	z-index:2;
	transition:left 0.5s cubic-bezier(.55,.55,.26,1.37);
}

.ham-nav{
	height:15vh;
	width:100%;
}

.arrow{
	float:left;
	height:80%;
	padding:2vh 0 0 17vw;
}

.arrow img{
	height:40%;
}

.ham-body{
	font-family:'tccm';
	margin-left:17vw;
}


.ham-opt{
	font-size:5vh;
	color:#ffffff;
	padding-top:1vh;
}

.ham-content{
	font-size:5vh;
	color:#7195de;
}

.register{
	height: 100vh;
	width: 100vw;
	background: #7778b7;
	z-index: 5;
	position: fixed;
	top: 100vh;
	transition: top 0.5s cubic-bezier(0.39, 0.75, 0.34, 1.06);
}

.register-close{
	position: absolute;
	right: 0;
	top: 1vh;
}

.column{
	display: flex;
}
.col-text {
  width: 30vw;
  margin-top: 6px;
  position: relative;
  margin-top: 2vh;
  left: 12vw;
}

.col-input {
  width: 30vw;
  margin-top: 6px;
  position: relative;
  left: 12vw;
}

.extras{
	position: relative; 
	left: 12vw;
}

input[type=text], select{
  width: 100%;
  padding: 1vh;
  background: #9392c8;
  border: 1px solid white;
}

input[type=submit] {
    background-color: #695ba4;
    color: white;
    border: none;
    padding: 1vh 1vw;
    margin-top: .5vh;
    cursor: pointer;
}

@keyframes expand{
	0%{
		transform-origin: left;
		transform: scaleX(0);
	}

	100%{
		transform-origin: left;
		transform: scaleX(1);
	}
}

@keyframes shrink{
	0%{
		transform-origin: right;
		transform: scaleX(1);
	}

	
	100%{
		transform-origin: right;
		background-position: 100px;
		opacity: 0;
	}
}


@media all and (min-width:800px){
	
	.nav{
		width:100vw;
	}

	.logo{
		float:left;
		height:15vh;
		margin-left:2vw;
	}

	.logo img{
		height:45%;
		padding:3vh 1vh 0 1vh;
	}
	
	.menu{
		display:none;
	}
	
	.nav-opt{
		display:block;
		height:100%;
		width:12%;
		float:right;
		font-family: 'bebas';
		text-align: center;
		font-size: 4vh;
		line-height: 15vh;
		color:#ffffff;
		transition:font-size 0.1s linear;
	}

	.nav-opt:hover{
		cursor:pointer;
		font-size:4.5vh;
	}
	
	.home-body{
		height:65vh;
		width:100vw;
	}

	.company-info{
	height: 50vh;
	width: 30vw;
	position: absolute;
	top: 30%;
	margin-top: -5vw;
    background-image: linear-gradient(19deg, rgb(214, 85, 110) 0%, rgb(31, 36, 161) 100%);
    overflow: hidden;
    right: 35vw;
    animation: expand 1.5s forwards;

}

.company-logo{
	height: 50vh;
	width: 30vw;
    position: absolute;
    top: 50%;
    margin-top: -5vw;
    background: black;
    overflow: hidden;
    right: 15vw;
    animation: expand 1.5s;
}

	.title{
		margin:10vh 0 0 10vw;
		font-family: 'bebas';
		font-size:14vh;
		color:#ffffff;
	}

	.register-button{
		margin:0 0 0 10vw;
		width:15vw;
		font-family: 'bebas';
		/*font-size:10vh;*/
		color:#867cf4;
		background: #ffffff;
	}

	.bot-nav{
		postion:absolute;
		top:88vh;
		height:12vh;
		line-height:13.5vh;
		font-size: 9vh;
		display:flex;
	}
	
	.bot-nav span{
		margin:0 2vw 0 0;
		float:right;
	}

	.bot-nav span:hover{
		cursor:pointer;
	}
	
	.big-arrow{
		display:block;
		flex-grow: 2;
		margin-right:2vw;
	}

	/*.bot-nav span{
		margin-left: 10vh;
	}*/

	.hamburger{
		display:none;
	}

	.extras{
		position: absolute; 
		top: 34vh; 
		left: 56vw;
	}
}